* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
}
.body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
}
.curser{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #5BD6A5;
    position: fixed;
}
.nav-bar{
    width: 100%;
    height: 56px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 36px;
    justify-content: space-around;
}
.logo{
    top: 50px;
    margin-top: 16px;
    margin-left: 102px;
    height: 29px;
    width: 104px;
}
.nav-name{
    margin-left: 22.6rem;
    display: flex;
    width: 412px;
    height: 56px;
    justify-content: center;
    align-items: center; 
}
#home{
    color: #0932D8;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.nav-name a{
    text-decoration: none;
    font-family: Inter, sans-serif;
    gap: 32px;
    color: #0A0F0D80;
    height: 16px;
    width: 412px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    margin-right: -15%;
}
.nav:hover{
    color: #0932D8;
}
/* .nav-name h2{
    opacity: 50%;
    left: 10%;
} */
.nav-btn{
    margin-left: -3%;
    border-left: 2px solid #0a0f0d20;
    padding-left: 3%;
    display: flex;
    gap: 16px;
}
.nav-btn a{
    justify-content: center;
}
.navbtn1{
    /* border-left: 2px solid #0A0F0D80; */
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    cursor: pointer;
    padding: 18px 18px;
    line-height: 19.36px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-family: Inter, sans-serif;
}
.navbtn2{
    text-decoration: none;
    color: #0932D8;
    background-color: #FFFFFF;
    padding: 18px 18px;
    border: 1px solid #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.navbtn1:hover{
    color: #FFFFFF;
    background-color: #0932d8ce;
}
.navbtn2:hover{
    color: #FFFFFF;
    background-color: #0932D8;
    transition: 1s ease;
}
.btn-section{
    display: flex;
    gap: 16px;
}
.btn-section a{
    justify-content: center;
}
/* .background-image{
    background-image: url(images/cloud_element.png);
    position: absolute;
    background-color: radial-gradient(21.72% 37.24% at 13.2% 51.5%,#d9f3f7 21.76%,rgba(217,243,247,0) 100%),radial-gradient(38.54% 36.35% at 100% 62.51%,#d9f3f7 61.5%,hsla(0,0%,100%,0) 100%);
    opacity: 1;
} */

.gradi{
    height: 100%;
    width: 100vw;
    margin-top: 10px;
    position: absolute;
    /* object-fit: contain; */
    background-repeat: no-repeat;
    z-index: -1;
}
.objects img{
    scale: 1;
    position: absolute;
    color: transparent;
    z-index: 1;
    translate: none;
    opacity: 1;
}
.cloud_element{
    object-fit: contain;
    width: 35vw;
    height: 71vh;
    top: 180px;
    bottom: 5vh;
    left: -100px;
    transform: translate3d(0px, 56.8835px, 0px);
}
.plus_element{
    height: 57vh;
    width: 28vw;
    right: -3vw;
    bottom: -14vh;
    object-fit: contain;
}
.head-section{
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    gap: 4.7rem;
    height: 45vh;
    width: 58vw;
    margin-top: 20vh;
    margin-left: 19.5vw;
}
.btn-section-main{
    justify-content: center;
    display: flex;
    gap: 16px;
    margin-top: 70px;
    /* position: absolute; */
}
.navbtn1-main{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    cursor: pointer;
    padding: 18px 18px;
    line-height: 19.36px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-family: Inter, sans-serif;
}
.navbtn2-main{
    text-decoration: none;
    color: #0932D8;
    display: flex;
    gap: 7px;
    background-color: #FFFFFF;
    padding: 13px 18px;
    border: 1px solid #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.navbtn1-main:hover{
    color: #FFFFFF;
    background-color: #0932d8ce;
}
.navbtn2-main:hover{
    color: #FFFFFF;
    background-color: #0932D8;
    transition: 1s ease;
}
.navbtn2-main svg:hover{
    fill: #FFFFFF;
    color: #5BD6A5;
}
.h1-section{
    width: 58vw;
    height: 28vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.h1-heading{
    width: 58vw;
    height: 17.5vh;
    color: #5BD6A5;
    gap: 24px;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4rem;
}
.h1-heading span{
    color: black;
}
.h1-sub-heading{
    text-align: center;
    height: 7.6vh;
    width: 37vw;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.75rem;
    color: #0A0F0D80;
    margin-top: 2.5rem;
    margin-left: 10.5vw;
}
.h1-section .h1-sub-heading{
    text-align: center;
}
.headphone{
    background-repeat: no-repeat;
    background-position: 50%;
}
#portfolio-page{
    position: absolute;
    z-index: 5;
}
.portfolio-section{
    margin-left: 27.5vw;
    margin-top: 33vh;
    text-align: center;
    justify-content: center;
    height: 16vh;
    width: 43vw;
    gap: 24px;
}
.port-h1{
    width: 43vw;
    height: 8.7vh;
    color: #5BD6A5;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
}
.port-h1 span{
    color: black;
}
.port-sub-sec{
    height: 3.8vh;
    width: 28.3vw;
    font-weight: 500;
    margin-top: 24px;
    margin-left: 7.5vw;
    font-size: 18px;
    line-height: 28px;
    color: #0A0F0D80;
}
.a{
    text-decoration: none;
}
.port-div{
    margin-top: 10vh;
    /* width: 76vw; */
    display: flex;
    height: 132vh;
    justify-content: center;
    /* margin-left: 12.5vw; */
    gap: 30px;
    flex-wrap: wrap;
}
.port-content{
    width: 24vw;
    height: 64.5vh;
    text-decoration: none;
}
.port-img{
    background-color: #D9F3F7;
    border-radius: 16px;
    width: 24vw;
    height: 47.8vh;
}
.h3-heading{
    margin-top: 16px;
    width: 23rem;
    height: 18px;
    color: #0A0F0D;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}
.p-heading{
    margin-top: 16px;
    width: 23rem;
    height: 72px;
    color: #0A0F0DCC;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.view-more{
    text-decoration: none;
    margin-left: 46%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #0932D8;
    display: flex;
    gap: 7px;
    background-color: #FFFFFF;
    padding: 13px 13px;
    border: 1px solid #0932D8;
    font-size: 16px;
    font-weight: 600;
    width: 163px;
    height: 56px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.view-more:hover{
    color: #FFFFFF;
    background-color: #0932D8;
    transition: 1s ease;
}
.ser-header{
    margin-top: 225vh;
    justify-content: center;
    align-items: center;
    width: 42.7vw;
    height: 16.5vh;
    gap: 24px;
    margin-left: 38%;
}
.ser-heading{
    /* margin-top: 230vh; */
    width: 42.7vw;
    height: 9.1vh;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    color: #5BD6A5;
}
.ser-heading span{
    color: #0A0F0D;
}
.ser-sub{
    color: #0A0F0D80;
    margin-top: 24px;
    /* margin-bottom: 72px; */
    margin-left: -10%;
    width: 599px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.service-svg-div{
    margin-top: 7rem;
    column-gap: 60px;
    height: 85vh;
    /* width: 67.7vw; */
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 13%;
}
.ser-div{
    height: 31vh;
    width: 18vw;
    margin-right: 109px;
    /* margin-left: 20%; */
}
.svg-div{
    margin-left: 97px;
}
.ser-head{
    /* margin-left: 56px; */
    /* width: 161px; */
    margin-top: 27px;
    width: 274px;
    justify-content: center;
    height: 18px;
    font-size: 18px;
    list-style: none;
    font-weight: 600;
    text-align: center;
}
.ser-para{
    color: #0A0F0D80;
    margin-top: 27px;
    width: 274px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}
.team-header{
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 42.7vw; */
    width: 100%;
    height: 16.5vh;
    gap: 24px;
    /* margin-left: 38%; */
}
.team-heading{
    /* width: 42.7vw; */
    width: 100%;
    height: 9.1vh;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    color: #5BD6A5;
}
.team-heading span{
    color: #0A0F0D;
}
.team-sub{
    color: #0A0F0D80;
    margin-top: 24px;
    /* margin-bottom: 72px; */
    /* margin-left: -10%; */
    /* width: 599px; */
    width: 100%;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.team-members{
    width: 696px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 64px;
    gap: 64px;
    margin-left: 27%;
    column-gap: 120px;
    flex-wrap: wrap;
    height: 832px;
    margin-top: 6rem;
}
.team-box{
    width: 288px;
    height: 384px;
    gap: 20px;
}
.team-mem{
    width: 288px;
    height: 270px;
    border-radius: 16px;
    background-color: #5BD6A5;
}
.team-content{
    width: 288px;
    height: 114px;
}
.team-h3{
    color: #0A0F0DCC;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
.team-h1{
    color: black;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}
.team-logos{
    /* background-color: black; */
    margin-top: 20px;
    text-align: center;
    height: 28px;
    gap: 16px;
}
.logos{
    margin-right: 12px;
    width: 288px;
    justify-content: center;
    text-decoration: none;
    height: 28px;
    width: 28px;
    border-radius: 33px;
}
.logoe{
    margin-right: 16px;
    text-decoration: none;
    height: 28px;
    width: 28px;
    border-radius: 33px;
}
.contect-header{
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 42.7vw; */
    width: 100%;
    height: 16.5vh;
    gap: 24px;
    /* margin-left: 38%; */
}
.contect-heading{
    /* width: 42.7vw; */
    width: 100%;
    height: 9.1vh;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    color: #5BD6A5;
}
.contect-heading span{
    color: #0A0F0D;
}
.contect-sub{
    color: #0A0F0D80;
    margin-top: 24px;
    /* margin-bottom: 72px; */
    /* margin-left: -10%; */
    /* width: 599px; */
    width: 100%;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.login-main{
    margin-top: 15vh;
    height: 402px;
    width: 852px;
    gap: 24px;
    margin-left: 23%;
    background-color: #5BD6A5;
}
.tools-main-div{
    /* position: absolute; */
    /* margin-top: 10vh; */
    justify-content: center;
    display: flex;
    align-items: top;
    /* text-align: center; */
    /* width: 42.7vw; */
    width: 100%;
    /* height: 16.5vh; */
    /* gap: 24px; */
    /* margin-left: 38%; */
}
.tools-content{
    /* margin-left: -200px */
    width: 400px;
    height: 182px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* flex-direction: column; */
}
.tools-heading{
    /* width: 42.7vw; */
    width: 100%;
    height: 9.1vh;
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    color: #5BD6A5;
}
.tools-heading span{
    color: #0A0F0D;
}
.tools-sub{
    color: #0A0F0D80;
    margin-top: 24px;
    /* margin-bottom: 72px; */
    /* margin-left: -10%; */
    /* width: 599px; */
    width: 100%;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.left-image{
    position: absolute;
    /* margin-left: -1200px;
    margin-top: 150px; */
    object-fit: contain;
    /* width: 395px;
    height: 292px; */
    rotate: 15;
    margin-top: 120px;
    left: -11%;
    width: 395.26px;
    height: 292.35px;
}
.right-image{
    position: absolute;
    /* width: 735px;
    height: 544px;
    rotate: 15%; */
    /* top: -60%; */
    /* right: 5%; */
    margin-top: -272px;
    margin-right: -1100px;
    width: 735.68px;
    height: 544.13px;
    /* opacity: 3%; */
}

#tools{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #F7F7F7;
    /* height: 100%; */
    height: 362px;
}
.tools-using{
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 136px;
    display: grid;
    width: 799px;
    height: 182px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tools-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 36px;
    width: 169px;
}
.tools-h3{
    height: 22px;
    width: 53px;
}
.honorable-section{
    /* margin-top: 10vh; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* width: 42.7vw; */
    width: 470px;
    height: 282px;
    gap: 24px;
    /* margin-left: 38%; */
}
.honorable-h1{
    /* width: 42.7vw; */
    width: 470px;
    height: 198px;
    font-size: 56px;
    line-height: 66px;
    font-weight: 600;
    color: #5BD6A5;
}
.honorable-h1 span{
    color: #0A0F0D;
}
.honorable-h3{
    color: #0A0F0D80;
    margin-top: 24px;
    width: 470px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.honorable{
    margin-top: 96px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client-logo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
    overflow: hidden;
}
.client-logo-row1{
    display: flex;
    /* width: 570px;
    height: 369px; */
    gap: 30px;
    justify-content: start;
    align-items: start;
}
.client-logo-row1-number{
    /* height: 170px;
    width: 170px;
    border: 1px solid #848683;
    border-radius: 16px; */
    border: 1px solid #0804151d;
    width: 170px;
    min-width: 170px;
    height: 170px;
    gap: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.client-logo-img{
    /* object-fit: cover; */
    padding: 33px 33px;
    width: 170px;
    height: 128px;
}
.row1{
    animation: scroll-marquee-first 10s linear infinite;
}
.row2{
    justify-content: end;
    animation: scroll-marquee-second 10s linear infinite;
}
/* .client-logo-img img{
    align-items: center;
    justify-content: center;
} */
.client-logo-name{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #0804151d;
    width: 100%;
}
.client-para{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #848683;
}
.what-people-says{
    width: 1170px;
    height: 299px;
    display: flex;
    justify-content: space-between;
}
#reviews{
    width: 100%;
    margin-top: 96px;
    height: 540px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f0f1f6;
    border-bottom: 2px solid #f0f1f6;
}
.reviews-main-div{
    width: 1170px;
    height: 300px;
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
}
.what-people-says{
    width: 570px;
    height: 146px;
    /* margin-top: 10vh; */
    flex-direction: column;
    gap: 24px;
}
.people-says-h1{
    width: 570px;
    height: 66px;
    font-size: 56px;
    line-height: 64px;
    font-weight: 600;
    color: #5BD6A5;
}
.people-says-h1 span{
    color: #0A0F0D;
}
.people-says-h3{
    color: #0A0F0D80;
    width: 570px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.reviews-section{
    width: 540px;
    height: 300px;
    gap: 24px;
    margin-top: 13rem;
}
.reviews-content{
    width: 570px;
    height: 160px;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}
.reviews-content-text{
    color: #0A0F0DCC;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.reviews-photo{
    margin-top: 24px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.reviews-profile-name{
    line-height: 29px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #0A0F0DCC;
}
.footer{
    height: 100vh;
    width: 100%;
    background-color: #042341;
    overflow-y: hidden ;
}
#ourteam{
    margin-bottom: 5rem;
}
.crayont{
    width: 1437px;
    height: 323px;
    color: #F5F5F566;
    font-size: 355px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-left: 35px;
}
.about-us-img{
    border-radius: 50%;
}
.aboutus-content{
    display: flex;
    justify-content: space-between;
    /* height: 387px; */
    width: 1437px;
    top: 96px;
}
.footer-content{
    width: 1280px;
    margin: 0 auto;
}
.about-h1{
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    color: #5BD6A5;
    height: 58px;
    width: 581px;
    margin-top: 96px;
}
.about-h1 span{
    color: white;
}
.about-h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    height: 22px;
    width: 581px;
    color: #FFFFFFCC;
    margin-top: 32px;
}
.about-us-svg{
    margin-top: 32px;
    gap: 18px;
    width: 248px;
    height: 50px;
    margin-bottom: 67px;
}
.imgg{
    margin-right: 16px;
}
.buttons{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.buttons a{
    justify-content: center;
}
.aboutus-contect{
    /* border-left: 2px solid #0A0F0D80; */
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    padding: 18px 18px;
    line-height: 19.36px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.aboutus-hire{
    text-decoration: none;
    color: #0932D8;
    background-color: #FFFFFF;
    padding: 18px 33px;
    border: 1px solid #0932D8;
    font-size: 16px;
    width: 137px;
    height: 56px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.copyright{
    color: #FFFFFFCC;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    width: 325px;
    height: 18px;
    text-decoration: none;
    margin-top: 67px;
}
.company-tags a{
    color: #FFFFFFCC;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.connect-tags a{
    color: #FFFFFFCC;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}
.company-tags .a{
    margin-bottom: 1rem;
}
.aboutus-content-section2{
    display: flex;
    justify-content: space-between;
    width: 402px;
    /* height: 152px; */
}
.a{
    margin-bottom: 16px;
}
.section-1{
    width: 102px;
    /* height: 152px; */
}
.section-2{
    width: 210px;
    /* height: 120px; */
}
.company{
    color: #5BD6A5;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    width: 120px;
    height: 16px;
    margin-top: 96px;
    margin-bottom: 24px;
}
.company span{
    color: #FFFFFF;
}
.connect{
    color: #5BD6A5;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    width: 210px;
    height: 16px;
    margin-top: 96px;
    margin-bottom: 24px;
}
.connect span{
    color: #FFFFFF;
}
